@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* ROOT */

:root {
    --background-color:rgb(41, 135, 228);
    --background-game: rgb(0, 0, 0);   
    --container-color:rgb(37, 41, 50);
    --border-btn-1:rgb(31, 182, 113);
    --border-btn-2:rgb(41, 135, 228);
    --border-btn-3:rgb(228, 41, 131);
    --principal-font-color:rgb(255, 255, 255);
    --second-font-color:rgb(0, 0, 0);
    --third-font-color:rgb(255, 255, 255);
    --font-btn:rgb(41, 135, 228);
    --border-btn-color:rgb(255, 255, 255);
}
  
/* GENERALE */
  
* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--background-color);
    font-family: 'VT323', monospace;
}

img {
    width: 100%;
    max-width: 100%;
}
  
/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
}

.header__logo {
    max-width: 10%;
}

.header__title {
    font-size: 60px;
    color: var(--second-font-color);
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header__container--btn-portfolio {
    width: 110px;
    height: 35px;
    border-radius: 10px 10px 0px 10px;
    border: solid var(--border-btn-color) 2px;
    background-color: var(--container-color);
    color: var(--third-font-color);
    font-size: 24px;
    text-align: center;
    padding-top: 4px;

    &:hover {
        border: var(--border-btn-3) solid 2px;
        transition: 250ms ease-in-out;
    }
}

.header__container--social-network {
    font-size: 36px;
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.fa-brands:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

/* MAIN */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    max-width: 1500px;
    height: auto;
    background-color: var(--container-color);
    border-radius: 30px;
    padding: 24px;
}

.main__container--title {
    font-size: 24px;
    text-align: center;
    margin: 8px 0px 32px;
    color: var(--principal-font-color);
}

.main__container--game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    width: 300px;
    height: 450px;
    background-color: var(--background-game);
    border-radius: 40px 0px 0px 0px;
    padding: 24px 0px;
}

.green-border {
    border: solid var(--border-btn-1) 3px;
}

.blue-border {
    border: solid var(--border-btn-2) 3px;
}

.pink-border {
    border: solid var(--border-btn-3) 3px;
}

.game {
    position: relative;
}

.game__picture {
    max-width: 230px;
}

.game__descritpion {
    color: var(--principal-font-color);
    text-align: center;
    padding: 32px;
}

.game__btn {
    position: absolute;
    bottom : 20px;
    border: solid 3px var(--border-btn-color);
    border-radius: 10px 10px 0px 10px;
    color: var(--font-btn);
    font-size: 24px;
    text-align: center;
    padding: 4px 16px;

    &:hover {
        transition: 250ms ease-in-out;
        color: var(--principal-font-color);
        border: solid 3px var(--border-btn-2);
    }
}