@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* ROOT */

:root {
    --background-color:rgb(41, 135, 228);
    --container-color:rgb(37, 41, 50);
    --border-btn-1:rgb(31, 182, 113);
    --border-btn-2:rgb(41, 135, 228);
    --border-btn-3:rgb(228, 41, 131);
    --principal-font-color:rgb(255, 255, 255);
    --second-font-color:rgb(37, 41, 50);
    --third-font-color:rgb(255, 255, 255);
    --font-btn:rgb(41, 135, 228);
    --border-btn-color:rgb(255, 255, 255);
}
  
/* GENERALE */
  
* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--background-color);
}

img {
    width: 100%;
    max-width: 100%;
}
  
/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
}

.header__logo {
    max-width: 10%;
}

.header__title {
    font-family: 'VT323', monospace;
    font-size: 60px;
    color: var(--second-font-color);
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header__container--btn-portfolio {
    width: 110px;
    height: 35px;
    border-radius: 10px 10px 0px 10px;
    border: solid var(--border-btn-color) 2px;
    background-color: var(--container-color);
    color: var(--third-font-color);
    font-family: 'VT323', monospace;
    font-size: 24px;
    text-align: center;
    padding-top: 4px;

    &:hover {
        border: var(--border-btn-3) solid 2px;
        transition: 250ms ease-in-out;
    }
}