@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Pacifico&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    background-color: #232020;
    margin: 0;
    padding: 0;
}

.container__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(224, 240, 253);
    width: 800px;
    margin: 16px;
    border-radius: 16px 16px 32px 32px;
}

.container__header--logo {
    width: 150px;
}

.container__header--link {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #232020;
    background-color: #ff7315;
    padding: 4px;
    border-radius: 10px;
    border: #232020 solid 2px;

    &:hover {
        transition: 250ms ease-in-out;
        background-color: #ffe8dc;
        border: #ff7315 2px solid;
    }
}
  
.container__header--title {
  font-family: 'Pacifico', cursive;
  color:#232020;
  margin: 40px 0px 0px;
  text-align: center;
  font-size: 48px;
}

/*MAIN*/

.container__main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 800px;
    background-color: rgb(224, 240, 253);
    min-height: 300px;
    margin: 16px;
    padding: 32px 0px;
    border-radius: 32px 32px 16px 16px;
}

.container__main--form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.form-control {
    width: 300px;
    height: 30px;
    border-radius: 12px;
    border: #242322 2px solid;
    background-color: white;
    transition: border 0.3s ease;

    &::placeholder {
        color: #232020;
        font-family: 'JetBrains Mono', monospace;
        font-weight: bold;
        font-size: 11px;
        padding-left: 5px;
    }
}

.btn-primary {
    background-color: #ffa372;
    height: 36px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    border-radius: 12px;
    transition: 300ms ease-in-out;

    &:hover {
        background-color: #ff7315;
        cursor: pointer;
    }
}

.btn-reset {
    background-color: white;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    border-radius: 16px;
    transition: 300ms ease-in-out;

    &:hover {
        background-color:rgb(231, 224, 255);
        cursor: pointer;
    }
}




/*INSTRUCTIONS*/

#instructions {
  font-family: 'JetBrains Mono', monospace;
  color: white;
}

.instruction {
  font-family: 'JetBrains Mono', monospace;
  padding: 15px;
  margin: 10px 0;
  width: 610px;
}

.more {
  background-color: #f67280;
  border-radius: 20px 0px;
}

.less {
  background-color: #ffa372;
  border-radius: 20px 0px;
}

.finished {
  background-color : #0c9463;
  border-radius: 20px 0px;
}